<div class="chart-text">
    <div class="text-wrapper">
        <div class="p-wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
    </div>
    <div class="text-wrapper">
        <div class="p-wrapper">
            <p>Established in 1948 to be free at the point of use, the <span>UK’s</span> NHS has almost totemic status for Britain’s rising, ageing population who scrutinise it like perhaps no other policy area. While care from GP services to major surgery remains free as intended, the system is under unprecedented financial strain from a funding gap estimated to be in the billions.</p>
        </div>
    </div>
    <div class="text-wrapper">
        <div class="p-wrapper">
            <p>Under <span>France’s</span> state-run equivalent of the UK’s NHS, the majority of patients must pay the doctor or practitioner upfront. The state then reimburses them in part or in full. Workers make compulsory payments into state funds used to reimburse between 70% and 100% of the upfront fees, while many people pay into other schemes to cover the balance.</p>
        </div>
    </div>
    <div class="text-wrapper">
        <div class="p-wrapper">
            <p>In the mid-1960s, the <span>United States</span> implemented insurance programs called Medicare and Medicaid for segments of the population including low income and elderly adults. In 2010, Obamacare became the closest the US has come to a system of UHC. A legal mandate now requires all Americans to have insurance or pay a penalty. About 26 million people remain without health insurance despite these advances.</p>
        </div>
    </div>
</div>