{{#each objArr}} 
	<div class="text-wrapper player-{{{refNum}}}"  style="top: {{{dealPos}}}px;"  id="textWrapper_{{refNum}}" dateRef="{{{utcStamp}}}">
		<div class="p-wrapper">
			
			<div class="factbox">
				<div class="img-spot-bg"></div>				
				<div class="img-spot" style="background-image: url('{{{imgPath}}}');">	</div>	
				<div class="factfee">£{{{shortFee}}}m</div>
				<div class="factname">{{{playerName}}}</div>				
				<div class="factline">{{{prevClub}}} to {{{newClub}}}</div>
				<div class="factdate">{{{dateVal.day}}} {{{dateVal.month}}} {{{dateVal.year}}}</div>

			</div>

		</div>
	</div>
{{/each}} 


