{{#each objArr}} 
	<div class="text-wrapper"  style="top: {{{dealPos}}}px;">
		<div class="p-wrapper">
			<div class="img-spot" style="background-image: url('{{{imgPath}}}');">
			</div>	
			<div class="factbox">
				<span class="factfee">£{{{shortFee}}}m</span>
				<span class="factname">{{{playerName}}}</span>				
				<span class="factline">{{{prevClub}}} to {{{newClub}}}</span>
				<span class="factdate">{{{dateVal.day}}} {{{dateVal.month}}} {{{dateVal.year}}}</span>
			</div>
		</div>
	</div>
{{/each}} 


