@import "mq";
@import "fonts";

$acid_yellow: "#ffff33";

$gu_sport: "#00b2ff";
$gu_sport_kicker: "#056da1";
$gu_sport_headline: "#1896d7";
$gu_sport_background: "#e6f5ff";
$dark_neutral: "#333";
$light_neutral: "#EFEFEF";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;

    h2{
        font-family: "Guardian Egyptian Web", Georgia, serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        padding-bottom:6px;
    }

    p, h2{
        max-width:620px;

        @include mq(leftCol){
            margin-left:160px;
        }

        @include mq(wide){
            margin-left:240px;
        }
    }
}


.line-header {
    font-size: 24px;
    line-height: 24px;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-weight: 900;
    margin: 0;
    padding-bottom: 2px;
    margin-bottom: 6px;
}
.area-slice{

}

.gv-inner-slice{
    width: 100%;
    max-width:620px;



    @include mq(leftCol) {
                margin-left: 160px;
            }
    @include mq(wide) {
        margin-left: 240px;
    }

    
}

.gv-slice-chart-container{
    position: relative;
    z-index: 100;
    width:100%;
    overflow: hidden;

}

#sticky { 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      z-index: 50;
      height: 60vh !important; // display: block;
}

.panel {
      width: 100%;
      padding-left: 20px;
      padding-top: 25vh;
      padding-bottom: 25vh;
}

.panel p {
  padding-right: 50%;
}
.panel:first-child {
  padding-top: 35vh;
}
.panel:last-child {
  padding-bottom: 45vh;
}



.interactive-chart {
    height: 400vh;
    position: relative;
    margin-bottom: 60px;

    svg {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        overflow: visible;
        height:90vh;
        
        .country-label {
            fill: #333; // font-weight: bld
            @include fs-textSans(1);
            @include mq(tablet) {
                @include fs-textSans(2);
            }
        }
    }

    svg line{
    	 shape-rendering: optimizeSpeed !important;
    }

    .x-axis path, .x-axis line, .y-axis path, .y-axis line {
        stroke: #CCC !important;

        &.closedBar{
            stroke: #FFF !important;
        }

    }


    .x-axis path, .x-axis line{
        stroke: #999 !important;
    }

    .chart-text {
        position: absolute;
        z-index: 400;
        width: 100%;
        top: 60px;

        @include mq(desktop){
            left: -20px;
        }

        //display:none;

        .text-wrapper {
            // margin-bottom: 60vh;
            height: 80vh;
            position: relative;
            @include mq(tablet) {
                width: 620px;
            }
            @include mq(leftCol) {
                //margin-left: 60px;
            }
            @include mq(wide) {
                // margin-left: 60px;
            }

            p {
                margin-left: 200px !important;
            }

            position: relative;
            width: 100%;

            &:last-of-type {
                margin-top: -100px;
            }

            overflow:hidden;
        }

        .img-spot:before{
            content:'';
            position:absolute;
            top:0;
            left:0;
            width:90px;
            height:90px;
            margin:15px;
            background-color:#00b2ff;
            border-radius: 300px;
            z-index: -1;
            @include mq(desktop){
                width:360px;
                height:360px;
                left:-90px;
                top: -60px;
            }
        }
        .img-spot{
            width:180px;
            height:180px;
            position:absolute;
            background-repeat: no-repeat;
            background-size: contain;

            @include mq(desktop){
                width:300px;
                height:300px;
            }
        }
        .factbox{
            display: block;
            width: 240px;
            background-color:#ffff33;
            padding: 6px;
            margin:50px 0 0 120px;

            @include mq(desktop){
                margin:120px 0 0 180px;
            }

            .factname{
                font-family: "Guardian Egyptian Web", Georgia, serif;
                font-weight: 900;
                font-size: 18px;
                line-height: 18px;
                padding-bottom:6px;
                width:240px;
            }

            .factfee{
                font-family: "Guardian Egyptian Web", Georgia, serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 18px;
                padding-bottom:6px;
                width:240px;
               
            }

            .factline{
                font-family: "Guardian Egyptian Web", Georgia, serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 18px;
                padding-bottom:6px;
                width:240px;
                
            }

            .factname, .factline, .factfee{
                display: inline-block;
            }
        }

        p {
            display: inline;
            background-color: rgba(230, 230, 230, 0.95);
            color: #333;
            padding: 5px 5px 5px 5px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            @include fs-headline(2);
            line-height: 28px;
            @include mq(tablet) {
                padding: 5px 5px 5px 5px;
                @include fs-headline(3);
                line-height: 32px; // padding-bottom: 24px;
            }

            span {
                color: #69d1ca;
                font-weight: bold;
            }
        }

        .p-wrapper {
            display: block;
            position: absolute;
            bottom: 0;
            @include mq(tablet) {
                bottom: 10vh;
            }
        }

        
    }
    
}

#hidden-svg{
    display:none;
}
