@import "mq";
@import "fonts";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}


.line-header {
    font-size: 16px;
    line-height: 20px;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-weight: 900;
    margin: 0;
    padding-bottom: 2px;
    margin-bottom: 6px;
}




.interactive-chart {
    height: 400vh;
    position: relative;

    svg {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        overflow: visible;
        height: 100vh; // display: block;
    }

    svg line{
    	 shape-rendering: optimizeSpeed !important;
    }

    .x-axis path, .x-axis line, .y-axis path, .y-axis line {
        stroke: #AAA !important;

    }


    .x-axis path, .x-axis line{
        stroke: #999 !important;
    }

    .chart-text {
        position: absolute;
        z-index: 400;
        width: 100%;
        top: 60px;

        display:none;

        .text-wrapper {
            // margin-bottom: 60vh;
            height: 100vh;
            position: relative;
            @include mq(tablet) {
                width: 620px;
            }
            @include mq(leftCol) {
                margin-left: 160px;
            }
            @include mq(wide) {
                margin-left: 240px;
            }

            p {
                margin-left: 0 !important;
            }

            position: relative;
            width: 100%;

            &:last-of-type {
                margin-top: -100px;
            }
        }

        p {
            display: inline;
            background-color: rgba(230, 230, 230, 0.95);
            color: #333;
            padding: 5px 5px 5px 5px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            @include fs-headline(2);
            line-height: 28px;
            @include mq(tablet) {
                padding: 5px 5px 5px 5px;
                @include fs-headline(3);
                line-height: 32px; // padding-bottom: 24px;
            }

            span {
                color: #69d1ca;
                font-weight: bold;
            }
        }

        .p-wrapper {
            display: block;
            position: absolute;
            bottom: 0;
            @include mq(tablet) {
                bottom: 10vh;
            }
        }
    }
    
}
